.offers{
    background: #f79d00;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #64f38c, #f79d00);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #64f38c, #f79d00); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 100vh;
    width: 95%;
    margin: 2rem 4rem;
    padding: 10px 10px;
    position: relative;
    left: -3rem;
}.offers-left{
    text-align: center;
}
.offers-left h1{
    font-weight: 500;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: relative;
    font-size: 60px;
}

.offers-left p{
    position: relative;
    color: white;
    font-weight: 500;
    font-size: 20px;
}
.offers-left .check-btn{
    background: transparent;
    position: relative;
    top: 10px;
    border-radius: 90px;
    color: white;
    font-size: 1rem;
    border: 2px solid white;
    cursor: pointer;
}
.offers-left .check-btn:hover{
    transform: scale(1.2);
    transition: 0.65s ease;
}
.Ex-Pick{
    position: relative;
    width: 1100px;
    top: 0.9rem;
    left: 2rem;
    animation: 4s rotateX infinite;
}
@keyframes rotateX {
    from {
      transform: rotateY(0deg);
    }
    to {
      transform: rotateY(360deg);
    }
  }

    

 @media (max-width:321px){
    .offers{
        width: 77%;
        left: -4rem;
        
    }
    .offers h1{
        position: relative;
        left: -1rem;
    }
    .Ex-Pick{
        width: 70%;
        height: 7rem;
    }
 }
 @media (min-width:360px){
    .offers{
        width: 73%;
        position: relative;
        top: -2rem;
        left: -4rem;
        height: 35%;
    }
    .Ex-Pick{
        position: relative;
        left: 2em;
        top: 2rem;
        width: 20rem;
        height: 10rem;
    }
}
@media (min-width:375px){
    .offers{
        width: 76%;
        position: relative;
        top: -2rem;
        left: -4rem;
        height: 39%;
    }
    .Ex-Pick{
        position: relative;
        left: 2em;
        top: 2rem;
        width: 20rem;
        height: 10rem;
    }
}
@media (min-width:425px){
    .offers{
        position: relative;
        top: 0.5rem;
        left: -4rem;
        width: 87%;
        height: 35%;
    }
}
@media (min-width:430px){
    .Ex-Pick{
        position: relative;
        left: 0rem;
        width: 100%;
        height: 100%;
    }
}
@media (min-width:600px){
    .offers{
        width: 97%;
    }
}

@media (min-width:768px){
    .offers{
        position: relative;
        top: 0rem;
        width: 100%;
    }
    .Ex-Pick{
        position: relative;
        left: 7rem;
        top: 1rem;
        height: 10rem;
        width: 30rem;
    }
}
@media (min-width:1024px){
    .offers{
        width: 100%;
        position: relative;
        left: -1rem;
        height: 60%;
        margin-left: 1rem;
    }
    .Ex-Pick{
        position: relative;
        left: 4rem;
        width: 90%;
        top: 9rem;
        height: 20rem;
    }
}
@media (min-width:1440px){
    .offers{
        width: 100%;
    }
}
@media (min-width:2560px){
    .offers{
        width: 100%;
    }
}