*{
    max-width: 1240px;
    margin: 0 ,0;
}
.popular{
    position: absolute;
    gap:0 2rem;
    left: 15rem;
    top: 12rem;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    
}
.popular h2{
    color:var(--primary-color);
    font-weight: 600;
}

@media (max-width:321px){
    .popular{
        position: absolute;
        gap: 10px;
        right: -20rem;
        top: 8rem;
        justify-content: center;
        display: flex;
        grid-template-columns: repeat(2,1fr);
        
    }
}
